
<div class="ruby-demo">
  <div class="site-background"></div>
  <div id="display_mode" class="search-demo <%= 'active-search' if @search_results&.any? %> -live-filtering">
    <div class="search-demo__content">

      <%# Header %>
      <div class="search-demo__header">
        <div class="search-demo__headings">
          <div class="search-demo__icon-wrap">
            <%= image_tag('icons/icon-gem.svg', class: 'search-demo__icon', alt: 'Gem Search Icon') %>
          </div>
          <h1 class="search-demo__title">Register of Sponsors (UK)</h1>
          
        </div>

          <%= form_tag("/search/", {method: :post, class: 'search-demo__input-wrapper', remote: true}) do %>
            <%= text_field_tag(:q, params[:q], class: "search-demo__text-input", placeholder: "Search for company name...") %>
            
            <% submit_tag("Search", class: "button search-demo__submit") %>
          <% end %>
      </div>

      <%# Results %>
      <div class="search-demo__body">
        
            <div class="search-results">

                <div class="results">
                <div class="results__header">
                    <div class="results__result-count">
                    
                    </div>
                    
                </div>

                <div class="results__body">
                    <ul id="result_container">
                      
                    </ul>
                </div>

                <div class="results__footer">
                    
                </div>
            </div>
        </div>
       
    </div>
    </div>
  </div>
</div>
